* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

*::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
*::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
*::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

input, button, textarea {
  border: 1px solid black;
  outline: none;
  background: none;
  padding: 9px 15px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-wrap: wrap;
  height: 100%;
  background-color: #F8F8FB;
} 

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}